/*===========================

Fonts

===========================*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@font-face {
  font-family: 'Pecita';
  src: url('../fonts/Pecita.ttf')  format('truetype');
}

/*===========================

Reset Rule

===========================*/
* {
 	margin:0;
	border:0;
	padding:0;
  box-sizing: border-box;
}


/*===========================

Header

===========================*/

header {
	width: 100%;
	height: 3%;
	z-index: 9999;
}

.logo {
	max-width: 50%;
	float: left;
	padding: 1rem;
}

/*===========================

Navigation

===========================*/

nav label, #hamburger {
	display: none;
}

nav label {
	display: inline-block;
	color: #e35d93;
	font-style: normal;
	font-size: 2.5rem;
	text-align: center;
	float: right;
	padding: 1rem;
}

.menu-items a {
	color: #e35d93;
	display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
  padding: .25rem;
}

.menu-items a:hover {
	background: #e35d93;
  padding: .25rem;
}

.menu-items {
	display: none;
  padding: 6rem 1rem 1rem 1rem;

}

nav input:checked~.menu-items {
	display: block;
}

.menu-items-name {
  border-radius: .25rem;
 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menu-items-name:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: .25rem;
  border-bottom: .45rem solid #e35d93;
}
.menu-items-name:hover:before, .menu-items-name:focus:before, .menu-items-name:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/*===========================

Headers and Paragraph Styling and Regular Links

===========================*/
h1,
h2,
h3,
h4 {
  font-family: 'Pecita', script;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #e35d93;
  text-shadow: 0 0 .5rem darkgray;
  padding-top: 1rem;
}
h2,
h3 {
  color: white;
}

h2 {
  font-size: 2rem;
}

h3,
h4 {
  font-size: 1.5rem;
}

h4 {
  color: #e35d93;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
}

.home-text a,
.about-paragraphs a {
  color: #e35d93;
  text-decoration: none;
  text-transform: uppercase;
}

.home-text a:hover,
.about-paragraphs a:hover {
  color: black;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: overline;
}

/*===========================

Main Home Section

===========================*/
main {
	clear: both;
  background: white;
}

.hero-image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.home-text {
  text-align: center;
  margin: 1rem auto;
  width: 80%;
  padding-bottom: 2rem;
}

.home-images {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.home-images img {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

figure {
  background: #faefff;
  margin: 1rem;
}

.heart {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  animation: heartbeat 1s infinite;
  padding-bottom: 2rem;
}

.heart img {
  width: 10%;
}

/*===========================

Islanders Section

===========================*/



.hvrbox-text {
  padding-bottom: 1rem;
  font-size: 1.10rem;
}

.islanders-text {
  text-align: justify;
  margin: 1rem auto;
  width: 80%;
  padding-bottom: 2rem;
}

.islanders-flexbox {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.islanders-flexbox img{
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  width: 100%;
}

.islanders-flexbox img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
  padding: 5%
}

.fotorama {
  margin: auto;
  width: 90%;
  padding-bottom: 2rem;
}

/*===========================

About Section

===========================*/

.about-image img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: 150% 0;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexbox-item {
  margin: .5rem;
  min-height: 5rem;
}

.about-h1{
  width: 100%;
}

.about-paragraphs{
  max-width: 80%;
}

.about-paragraphs p {
  padding-bottom: 1rem;
  text-align: justify;
}
.about-host,
.about-winners {
  max-width: 80%;
}
.about-host img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}
.text-overlay {
  text-align: justify;
}

.about-winners {
  background: #e35d93;
  color: white;
  min-width: 75%;
}
.arielle,
.about-winners {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
}



/*===========================

Footer

===========================*/

footer {
  background: #e35d93;
  padding: 1rem;
  color: white;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}


/*===========================

Animation

===========================*/

@keyframes heartbeat
{
  0%
  {
    transform: scale( .50 );
  }
  20%
  {
    transform: scale( .75 );
  }
  40%
  {
    transform: scale( .50 );
  }
  60%
  {
    transform: scale( .75 );
  }
  80%
  {
    transform: scale( .50 );
  }
  100%
  {
    transform: scale( .50 );
  }
}



/*===========================

Responsive Web Coding - 562 (Custom for Navigation)

===========================*/
@media screen and (min-width: 565px) {
  .menu-items {
    padding: 7.1rem 1rem 1rem 1rem;
  }
  .logo {
    max-width: 40%;
  }
}

/*===========================

Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/

@media screen and (min-width: 768px) {
	.logo {
		max-width: 35%;
    padding: .25rem;
	}
	nav {
		width: 50%;
		float: right;
	}
	.menu-items {
		display: flex;
    padding: 1.25rem 0;
    margin-right: 1rem;

	}
	.menu-items a {
		flex-grow: 1;
		flex-basis: 0;
		text-align: center;
		border: none;
	}
	nav label, #hamburger {
		display: none;
	}
	nav input:checked~.menu-items {
		display: flex;
	}
  .hvrbox-text {
    font-size: 1.35rem;
  }
  .fotorama {
    margin: auto;
    width: 65%;
  }

  .islanders-flexbox-item {
    max-width: 23rem;
  }

}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/

@media screen and (min-width: 1000px) {
  .menu-items {
    padding: 2.5rem 0;
  }
  .menu-items a {
    font-size: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
  .home-text {
    width: 60%;
  }
  .home-text p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  figure {
    margin: 0;
    padding: 0;
    background: none;
  }
  .home-images {
    display: flex;
    background: #faefff;
  }
  .home-images img{
    max-height: 50rem;
    padding: 1rem;
  }

  .hvrbox .hvrbox-layer_bottom {
  	display: block;
  }
  .hvrbox .hvrbox-layer_top {
  	opacity: 0;
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.6);
  	color: #fff;
  	-moz-transition: all 0.4s ease-in-out 0s;
  	-webkit-transition: all 0.4s ease-in-out 0s;
  	-ms-transition: all 0.4s ease-in-out 0s;
  	transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
  	opacity: 1;
  }
  .hvrbox {
    font-size: 1rem;
  }
  .hvrbox .hvrbox-text {
  	text-align: center;
  	display: inline-block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  }

  .hvrbox .hvrbox-layer_slideup {
  	transform: translateY(100%);
  }

  .hvrbox:hover .hvrbox-layer_slideup,
  .hvrbox.active .hvrbox-layer_slideup {
  	-moz-transform: translateY(0);
  	-webkit-transform: translateY(0);
  	-ms-transform: translateY(0);
  	transform: translateY(0);
  }
  .flexbox-container {
    gap: 10px 20px;
  }
  .flexbox-item {
    min-width: 10rem;
  }
  .about-h1{
    width: 100%;
  }
  .about-host {
    object-fit: cover;
  }
  .about-winners {
    max-width: 30%;
  }
  .host-image {
	   position: relative;
   }

  .text-overlay {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, 0.6);
  	color: #ffffff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	transition: opacity 0.25s;
    opacity: 0;
    padding: 5rem;
  }
  .text-overlay:hover {
  	opacity: 1;
  }
  h4 {
    color: white;
    font-size: 2rem;
  }
  .fotorama {
    width: 50%;
  }
  .islanders-flexbox-item {
    max-width: 25rem;
  }
}

/*===========================

Responsive Web Coding - 1920px by 1024 px (Desktop)

===========================*/

@media screen and (min-width: 1500px) {
  .menu-items {
    padding: 3rem 0;
  }
  .logo {
    max-width: 25%;
  }
  .home-images img {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }

  .content img {
	   width: 100%
	}
  .islanders-flexbox-item {
    max-width: 30rem;
  }
}
