/*===========================

Fonts

===========================*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@font-face {
  font-family: 'Pecita';
  src: url('../fonts/Pecita.ttf')  format('truetype');
}

/*===========================

Reset Rule

===========================*/
* {
 	margin:0;
	border:0;
	padding:0;
  box-sizing: border-box;
}


/*===========================

Header

===========================*/

header {
	width: 100%;
	height: 3%;
	z-index: 9999;
}

.logo {
	max-width: 50%;
	float: left;
	padding: 1rem;
}
